* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

/* ================================== HEADER SECTION ================================== */
header {
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1% 3%;
    height: 100%;
    position: relative; 
    
}

    /* ----- Logo Modifications ----- */
    #site-logo-container {
        display: flex;
        align-items: center;
    }
    #site-logo-container div {
        padding-right: 10px;
    }
    #site-logo-container div h2 {
        font-size: 40px;
        color: white;
    }
    #logo-img {
        width: 100px; /* Apparently Width controls the img size completely */
        transition-duration: 1s;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(173deg) brightness(102%) contrast(101%);
    }
    #site-logo-container:hover  #logo-img{
        transform: scale(1.02);
        filter: invert(11%) sepia(83%) saturate(7384%) hue-rotate(353deg) brightness(97%) contrast(109%); /* Hex Code : #ff000d */
    }

    /* ----- Navigation Bar Modifications ----- */
    .nav-links li {
        display: inline-block;
        padding: 0 20px;
        position: relative;
        list-style: none;

    }
    .nav-links li a {
        transition-duration: 0.5s;
        color:white;
        padding: 8px;
        border-radius: 20px;
        display: block;
        font-size: 30px;
        font-weight: bold;
    }
    .nav-links li .nav-option:hover {
        background-color: #880808;
    }

/* ================================== MAIN SECTION ================================== */
main {
    padding-top: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

    .introduction-container {
        display: flex;
        flex-direction: column;
        font-size: 50px;
        align-items: center;
        /* overflow: hidden; */
        justify-content: center;
        height: 90vh;
    }
    .introduction-container > div {
        width: fit-content;
    }
    .introduction-container > div > h1 {
        font-size: 200px;
    }

    .introduction-container > div > p {
        font-size: 40px;
    }
    .introduction-container > div > div {
        margin: 100px;
        justify-content: center;
    }
    .introduction-container > div > div > button {
        font-family: "Roboto", sans-serif;
        height: 50px;
        width: 160px;
        font-weight: bold;
        color: white;
        background-color: #ff000d ;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
    }
    #scroll-down {
        display: none;
        padding-bottom: 500px;
    }
    #scroll-down > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #scroll-down > div > div > h2 {
        font-size: 40px;
    }
    .fa-solid.fa-arrow-down-long {
        padding-top: 100px;
    }

    /* ----- GAME CSS STARTS HERE ----- */
    #display-game {
        display: none;
        background-color: white;
    }
    .blackjack-container {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .table-container {
        position: relative;
        width: 65%;
        height: fit-content;
        background-color: green;
        border-radius: 0 0 50% 50%;
        overflow: hidden;
        align-items: center;
        box-shadow: 0 0 20px black;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .table-container > div {
        text-align: center;
        /* margin: 5px; */
    }
    .table-container > h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    #dealer-pfp {
        border-radius: 50%;
        height: 140px;
        width: 140px;
    }
    #dealer-cards {
        padding-bottom: 80px;
    }
    #dealer-cards img {
        height: 180px;
        margin: 1px;
    }
    #your-cards img {
        height: 180px;
        margin: 1px;
    }

    .chip-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .chip-stack > div {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        margin: 0 10px;
        font-weight: bold;
        font-size: 20px;
        background-color: #f5d16b;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    button {
        background-color: #d1e3f3;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        margin-right: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
      
    button:hover {
        background-color: #f5d16b;
        color: #fff;
      }

 
